@import "../../../colors.scss";

.btn{
  &-discard{
    margin: 40px;
    padding: 10px 15px;
    background: $grey;
    border: 1px solid $grey;
    color: aliceblue;
  }
  &-submit{
    margin: 40px;
    padding: 10px 15px;
    background: rgba(76,95,245,0.85);
    border: 1px solid rgba(76,95,245,0.85);
    color: aliceblue;
  }
}