@import "../../../colors.scss";

.btn{
  &-discard{
    margin: 40px;
    padding: 10px 15px;
    background: $grey;
    border: 1px solid $grey;
    color: aliceblue;
  }
  &-submit{
    margin: 40px;
    padding: 10px 15px;
    background: $blue;
    border: 1px solid $blue;
    color: aliceblue;
  }
  &-extra{
    margin: 40px;
    padding: 10px 15px;
    background: white;
    border: 1px solid $dark-grey;
    color: $dark-grey;
  }
}