@import "../../colors.scss";

.main{
  &-container{
    display:block;
    margin: auto;
    margin-top: 30px;
  }
  &-label{
    color: $grey2;
    margin-bottom: 80px;
    margin-top: 50px;
  }
  &-btn{
    margin: 20px;
    color: aliceblue;
    background: $dark-purple;
    border: 2px solid $dark-purple;
    min-width: 350px;
    min-height: 65px;

  }
  &-btn-container{
    display: flex;
    align-items: center;
    flex-flow:column ;
    justify-content: space-between;
  }
}