@import "src/colors";

.table {
  &-container {
    background: $white2;
    margin: 20px auto ;
  }
}
th {
  color: $white;
  background-color: $dark-purple;
}
td {
  color: $table1;
  border-bottom: 1px solid $table2;
}
th, td {
  padding: 10px;
}

tr:nth-child(odd) {
  background-color: $table2;
}