@import "../../colors.scss";

.ro{
  &-container{
    display:block;
    margin: auto;
    margin-top: 30px;
    background: aliceblue;
    padding: 10px;
    box-shadow: #181818;
  }
  &-label{
    color: #555555;
    margin-bottom: 130px;
    margin-top: 30px;
  }
  &-label1{
    color: #555555;
    flex: 270px;
    margin: 5px;
  }
  &-select{
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    color: aliceblue;
    width: 145px;
    background: $dark-purple;
    border: 2px solid $dark-purple;

  }
  &-list-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
  &-btn{
    margin: 40px;
    padding: 15px;
    background: $grey;
    border: 1px solid $grey;
    color: aliceblue;
  }
  &-btn2{
    margin: 40px;
    padding: 15px;
    background: rgba(76,95,245,0.85);
    border: 1px solid rgba(76,95,245,0.85);
    color: aliceblue;
  }
}