@import "../../colors.scss";

.header {
  &-container {
    height: 65px;
    width: 100%;
    background: $dark-grey;
    opacity: 0.9;
    display: flex;

  }
  &-label{
    color: aliceblue;
     margin: auto;
    position: absolute;
    top: 10px;
    right: 42%;
     opacity: 0.8;
    font-weight: lighter;
  }
  &-btn{
    color: $white;
    text-align: center;
    vertical-align: middle;
    background-color: $grey2;
    border: 2px solid $grey2;
    padding: 9px 14px;
    max-height: 45px;
    font-size: 15px;
    line-height: normal;
    border-radius: 20px;
    margin: 10px;
  }
  &-login{
    margin: 25px;
    color: aliceblue;
    font-weight: bold;
  }
  &-info{
    display: flex;
    position: absolute;
    right: 1%;
  }
}