@import "../../colors.scss";

.header {
  &-container {
    height: 65px;
    width: 100%;
    background: #181818;
    opacity: 0.9;
    display: flex;

  }
  &-label{
    color: aliceblue;
     margin: auto;
    //margin-right: 450px;
     opacity: 0.8;
    //font-weight: bold;
  }
  &-btn{
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    background-color: #4c5ff5;
    border: 2px solid #4c5ff5;
    padding: 9px 14px;
    margin-top: 10px ;
    margin-right: 10px;
    font-size: 15px;
    max-height: 45px;
    line-height: normal;
    border-radius: 5px;
  }
  &-login{
    margin: 25px;
    color: aliceblue;
    font-weight: bold;
  }
}