@import "../../colors.scss";

.page{
  &-container{
    font-family: "Open Sans", sans-serif;
    background: rgb(107,9,80);
    background: linear-gradient(45deg, rgba(107,9,80,0.7875525210084033) 0%, rgba(79,21,21,0.9136029411764706) 27%, rgba(12,98,199,0.9808298319327731) 100%);
    height: 916px;
    width: 100%;
    display:flex;
  }
}