@import "../../colors.scss";

.kp {
  &-values{
    text-align: left;
    margin: 10px ;
    margin-left: 40px;
    color: $grey2;
    font-size: 1.2em;
  }
  &-label{
    color: $grey2;
    margin-bottom:30px;
    margin-top: 30px;
  }
  &-container {
    display: block;
    margin: 30px auto auto;
    background: $beige;
    padding: 16px;
    box-shadow: $dark-grey;
    width: 1500px;
  }
  &-line{
    //display: flex;
    justify-content: space-between;
    margin: 20px 5px;
    padding: 10px;
    //border: solid 1px red;
  }
  &-line1 {
  max-width: 200px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
   }
  &-list-container {
    //display: flex;
    //flex-flow: row wrap;
    justify-content: space-between;
  }
}