@import "../../colors.scss";

.kp {
  &-label{
    color: $grey2;
    margin-bottom:30px;
    margin-top: 30px;
  }
  &-container {
    display: block;
    margin: 30px auto auto;
    background: $beige;
    padding: 16px;
    box-shadow: $dark-grey;
    width: 1400px;
  }
  &-line{
    display: flex;
    justify-content: space-between;
    margin: 20px 5px;
    //border: solid 1px red;
  }
  &-list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}