$purple: #A7A5C6;
$dark-grey: #181818;
$dark-purple: rgba(33, 40, 54, 0.85);
$grey2: #555555;
$grey: #5D707F;
$beige: #f3f3f3;
$lighter-grey: #6D8A96;
$blue: rgba(76,95,245,0.85);
$white: #fff;
$white2: #e6e6e6;
